body {
  background-color: black;
  font-family: Arial, sans-serif;
  color: white;
}

.mastodon-label,
.main-nav ul,
.main-nav .login-signup {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(207, 185, 145);
  height: 70px;
  padding: 0 10px;
}
.main-nav ul {
  background-color: rgb(207, 185, 145);
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 60px;
}
.main-nav ul li {
  display: inline-block;
  margin-right: 10px;
}
.main-nav ul li a {
  color: black;
  text-decoration: none;
}

.clear-event {
  background-color: rgb(207, 185, 145);
  color: white;
  border-radius: 3px;
  padding: 2px 5px;
  border: none;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.clear-event:hover {
  background-color: white;
  color: rgb(207, 185, 145);
}

.remove-event {
  background-color: orange;
  color: white;
  border-radius: 2px;
  padding: 1px 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.remove-event:hover {
  background-color: darkorange;
}

.login-signup {
  margin-left: auto;
}
.login-signup a {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding: 9px 19px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}
.login-signup a:hover {
  background-color: black;
  color: white;
}

.mastodon-label {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 20px;
}

.footer-container {
  background-color: rgb(207, 185, 145);
  color: black;
  height: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 96.8%;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
  overflow: hidden;
  transition: bottom 0.3s ease; /* Add smooth transition effect */
}

.left-column {
  float: left;
}

.right-column {
  float: right;
}

.left-column, .right-column {
  flex: 1;
  text-align: left;
}

footer a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 20px;
}

.right-column a:hover {
  color: white;
}

h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}
.container .officer {
  margin-bottom: 20px;
}
.container .officer .mail {
  font-weight: bold;
  color: #00f;
}
.container .officer .previous-page-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.club-container {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  background-color: rgb(184, 168, 77);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}
.club-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(207, 119, 47, 0.8);
}
.club-container img {
  width: 10%;
  max-width: 10%;
  height: auto;
  max-height: 10%;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(9, 0, 0, 0.9333333333);
  border: 1px solid rgba(204, 204, 204, 0);
  padding: 20px;
  max-width: 300px;
  z-index: 9999; /* Ensure pop-up appears above other content */
}

.popup h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.popup p {
  font-size: 14px;
  margin-bottom: 10px;
}

.popup img {
  max-width: 100%;
}

.event-images img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  transition: transform 0.3s ease;
}

.event-images img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  opacity: 0.8;
  box-shadow: 0px 0px 10px rgb(207, 185, 145);
  border-radius: 20%;
  margin-bottom: 20px;
}

.event-title:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  opacity: 0.8;
}

.event-title, .event-date {
  text-decoration: none;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: white(0, 0, 0, 0.5);
  padding: 10px;
}

.event-date, .event-description, .event-time, .event-location {
  text-decoration: none;
  color: white;
  text-align: center;
}

#ArtEvents {
  border: #9a7b17;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  border-radius: 4px;
  margin-left: 400px;
  position: absolute;
  top: 60%;
}

#searchForm {
  width: 300px;
}

#categoryInput {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type=submit] {
  width: 100%;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: rgb(207, 185, 145);
}

.Banner {
  max-width: 100%;
  width: 100%;
  height: 250px;
}

.Events-Banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: white(0, 0, 0, 0.5);
  padding: 10px;
}

.your-event-link, .featured-event-link, .art-event-link {
  margin-right: 50px;
}

.ArtEvents, #YourEvents, #SearchResult {
  background-color: black;
  padding: 20px;
  margin: 20px;
  border-bottom: solid rgb(207, 185, 145) 2px;
  display: flex;
  flex-wrap: wrap;
}

.YourEvent-container {
  display: flex;
  flex-wrap: wrap;
}

.WorkshopsEvents-item, .Events-item {
  width: calc(30% - 20px); /* Adjust width as needed */
  margin: 5px;
  padding: 10px;
  border: solid rgb(207, 185, 145) 2px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

#WorkshopsEvents-container, #Events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.YourEvent-item {
  width: calc(20% - 20px); /* Adjust width as needed */
  margin: 10px;
  padding: 20px;
  border: solid rgb(207, 185, 145) 2px;
}

.WorkshopsEvents:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  opacity: 0.8;
  border-radius: 20%;
  margin-bottom: 20px;
}

#Search {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 40px;
  position: absolute;
  top: 70%;
  left: 40%;
  align-items: center;
  overflow: hidden;
}/*# sourceMappingURL=styles.css.map */